---
import Navigation from '../components/Navigation.astro';
import MainLayout from '../layouts/MainLayout.astro';
import '../layouts/MainLayout.scss';
const pageTitle = 'Astro';
---

<MainLayout>
		<Navigation />
		<h1>Astro</h1>
		<tracer-button>Test</tracer-button>
</MainLayout>
