---
import '@carbon/styles/index.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script
		type="defer"
		src="https://mchadwickchennault.github.io/react-to-wc/static/js/main.fc12eadc.js"
		></script>
	</head>
	<body>
		<slot/>
	</body>
</html>
